.navbar-nav {
    width: 100%;
    text-align: center;
  }

.navbar-nav li {
    float: none;
    display: inline-block;
  }
.navbar-custom {
    background-color: #79c879 !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    margin: 0px !important;
}
.btn-yote{
  border: 0px solid transparent !important;
}

.jumbotron {
  background-color: #bddfeb;
}

li.active {
background-color: #6aaf6a !important;
}

li.active a.nav-link {
  background-color: #6aaf6a !important;
}

.logo {
  font-size: 40px !important;
}