@font-face {
  font-family: lunchBox;
  src: url(https://db.onlinewebfonts.com/t/9420a1277004801e5ae6bcf6e2435a17.woff);
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block !important;
}

.navbar-custom {
  background-color: #34a997 !important;
  border-top-width: 0px !important;
  border-right-width: 0px !important;
  border-bottom-width: 0px !important;
  border-left-width: 0px !important;
  margin: 0px !important;
}
.btn-yote{
  border: 0px solid transparent !important;
}

.home {
  text-align: center;
}

.home-section {
  width: 70%;
  font-size: 16px;
  padding-bottom: 10px;
}

.jumbotron {
  background-color: #e8e8e8;
  padding-top: 15px;
  padding-bottom: 15px;
}

li a.nav-link {
  color: #f3ffff !important;
}

li a.dropdown-toggle {
  color: #f3ffff !important;
}

li.open a.dropdown-toggle {
  background-color: #00a28a !important;
}

.dropdown-custom-deli {
  padding-right: 116px !important;
}

.dropdown-custom-deli:active {
  padding-right: 116px !important;
  background-color: #dedede !important;
}

.dropdown-custom-spcocca {
  padding-right: 25px !important;
}

.dropdown-custom-spcocca:active {
  padding-right: 25px !important;
  background-color: #dedede !important;
}

.dropdown-custom-dlyspc {
  padding-right: 52px !important;
}

.dropdown-custom-dlyspc:active {
  padding-right: 52px !important;
  background-color: #dedede !important;
}

.navbar-button-active:active {
  background-color: #30a593 !important;
}

.right {
  float: right !important;
  text-align: right !important;
  display: block !important;
}

.left {
  float: left !important;
  text-align: left !important;
  display: block !important;
}

.logo {
  font-size: 40px !important;
  color: #4ABDAC !important;
  font-weight: bold !important;
}

.navbar-width {
  width: 533px;
}

.specialmenu {
  border-bottom: 2px dotted;
}

#specialmenu {
  margin-top: 0px !important;
  padding: 0px;
}

.item-description-upspan {
  font-size: 14px !important;
  width: 83% !important;
}

.item-description {
  font-size: 14px !important;
  width: 83%;
  margin-bottom: 20px;
}

.item-description-special {
  font-size: 14px !important;
  width: 83%;
}

.item {
  font-size: 16px !important;
  color: #c38403;
  margin-top: 15px;
}

.dlyspc-item {
  font-size: 16px !important;
  font-weight: bold;
}

td.daily-right-padding {
  padding-right: 10px;
}

td.daily-left-padding {
  padding-left: 10px;
}

td.notop {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.force-center {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width : 414px)
{
  .home-section
  {
    font-size: 14px !important;
  }
  .about-us-header {
    font-size: 18px !important;
  }
  .logo {
    font-size: 22px !important;
  }
  .banner-text-home {
    font-size: 35px !important;
    left: 10% !important;
    top: 25% !important;
  }
  #home-button {
    font-size: 25px !important;
  }
  .banner-text-home-desc {
    top: 32% !important;
    left: 32% !important;
  }
}

/* Banner */
.image-banner {
  position: relative;
  text-align: center;
  color: black;
}

.jumbotron {
  margin-bottom: 0px !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Banner text */
.banner-text {
  position: absolute;
  font-size: 60px;
  top: 50%;
  left: 10%;
  font-family: lunchBox;
}

.banner-text-home {
  position: absolute;
  font-size: 65px;
  top: 40%;
  left: 32%;
  font-family: lunchBox;
}

.banner-text-home-desc {
  position: absolute;
  font-size: 3vw;
  top: 50%;
  left: 42%;
  font-family: lunchBox;
  margin-top:40px;
}

#home-button {
  font-size: 42px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #34a997;
  border-radius: 20px;
}

#home-button:hover {
  background-color: #219180;
}

#home-button:active {
  background-color: #30a593;
}

#home-button-a {
  color: #f3ffff;
  text-decoration: none;
}