@font-face {
  font-family: lunchBox;
  src: url(https://db.onlinewebfonts.com/t/9420a1277004801e5ae6bcf6e2435a17.woff);
}

.navbar-nav {
    width: 100%;
    text-align: center;
  }

.navbar-nav li {
    float: none;
    display: inline-block;
  }
.navbar-custom {
    background-color: #487568 !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    margin: 0px !important;
}
.btn-yote{
  border: 0px solid transparent !important;
}

.jumbotron {
  background-color: #eeeef2;
  padding-top: 15px;
  padding-bottom: 15px;
}

li a.nav-link {
  color: #f3ffff !important;
}

li a.dropdown-toggle {
  color: #f3ffff !important;
}

li.open a.dropdown-toggle {
  background-color: #315047 !important;
}

.dropdown-custom-deli {
  padding-right: 116px !important;
}

.dropdown-custom-deli:active {
  padding-right: 116px !important;
  background-color: #dedede !important;
}

.dropdown-custom-spcocca {
  padding-right: 25px !important;
}

.dropdown-custom-spcocca:active {
  padding-right: 25px !important;
  background-color: #dedede !important;
}

.dropdown-custom-dlyspc {
  padding-right: 52px !important;
}

.dropdown-custom-dlyspc:active {
  padding-right: 52px !important;
  background-color: #dedede !important;
}

.navbar-button-active:active {
  background-color: #315047 !important;
}

.right {
  float: right !important;
  text-align: right !important;
  display: block !important;
}

.left {
  float: left !important;
  text-align: left !important;
  display: block !important;
}

.logo {
  font-size: 40px !important;
  color: #487568 !important;
  font-weight: bold !important;
}

.specialmenu {
  border-bottom: 2px dotted;
}

#specialmenu {
  margin-top: 0px !important;
}

.item-description-upspan {
  font-size: 14px !important;
  width: 83%;
}


.item-description {
  font-size: 14px !important;
  width: 83%;
  margin-bottom: 20px !important;
}

.item {
  font-size: 16px !important;
  color: #08845f;
  margin-top: 20px !important;
}

.force-center {
  text-align: center;
  margin: 0 auto;
}

/* Banner */
.image-banner {
  position: relative;
  text-align: center;
  color: black;
}

.jumbotron {
  margin-bottom: 0px !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Banner text */
.banner-text {
  position: absolute;
  font-size: 60px;
  top: 50%;
  left: 10%;
  font-family: lunchBox;
}