.image-banner > img {
    border-radius: 0px 0px 8px 8px;
}

.desc {
    margin: 15px;
    width: 40%;
}

.marginTop {
    margin-top:20px;
    margin-bottom: 20px;
}

.name {
    margin-right: 15px;
    float: left;
    font-size: 20px;
}

.item-wrapper {
    height:auto;
    float: left;
}

.test1 {
    height:auto;
    float:right;
}

.test {
    float:left;
}

#hack {
    opacity: 0;
}

button {
    border: 0px;
    transition: background-color .3s;
}

button:hover{
    background-color: darkgray;
}

/* Tool Tips */

.footer-copyright {
  position: relative;
}

.footer-copyright .tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 28%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.footer-copyright .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.footer-copyright:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.checkout {
    display: table;
    margin: auto;
    position: relative;
}

#checkout-list {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 140%;
    font-weight: bold;
}
