.image-banner > img {
    border-radius: 0px 0px 8px 8px;
}

.desc {
    margin: 15px;
    width: 40%;
}

.marginTop {
    margin-top:20px;
    margin-bottom: 20px;
}

.name {
    margin-right: 15px;
    float: left;
    font-size: 20px;
}

.item-wrapper {
    height:auto;
    float: left;
}

.test1 {
    height:auto;
    float:right;
}

.test {
    float:left;
}

#hack {
    opacity: 0;
}

button {
    border: 0px;
    transition: background-color .3s;
}

button:hover{
    background-color: darkgray;
}

footer {
    background-color: gray !important;
}

.footer-copyright {
    background-color: blue;
}