<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../style.css">
        <link rel="stylesheet" type="text/css" href="../temp-base.css">
        <script src="./handler.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="dropdown test">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                    Change Language
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="dropdown test1">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                <span class="caret"></span>
                    View Order
                </button>                
                <ul class="dropdown-menu pull-right">
                    <div id="order-list"></div>
                    <li class="divider"></li>
                    <li><a onclick="clearOrder()">Clear Order</a></li>
                    <li id="checkOut"><a>Check Out</a></li>
                </ul>
            </div>
            <hr id="hack">
            <div class="checkout">
                <h1>Thanks for ordering!</h1>
                <h3>The following items have been ordered:</h3>
                <div id="checkout-list">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>