<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../style.css">
        <link rel="stylesheet" type="text/css" href="../temp-base.css">
        <script src="handler.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="dropdown test">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                    Change Language
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="dropdown test1">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                <span class="caret"></span>
                    View Order
                </button>                
                <ul class="dropdown-menu pull-right">
                    <div id="order-list"></div>
                    <li class="divider"></li>
                    <li><a onclick="clearOrder()">Clear Order</a></li>
                    <li id="checkOut"><a>Check Out</a></li>
                </ul>
            </div>
            <hr id="hack">
            <div class="jumbotron">
                <table align="center">
                    <tr>
                        <col width="533">
                        <td>
                            <h1 class="logo">Taste of Reality</h1>
                        </td>
                        <td>
                            <nav class="navbar navbar-default navbar-custom">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item"><a class="nav-link navbar-button-active" href="../home.html">Home</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-custom-deli" href="menu.html">Deli</a></li>
                                            <li><a class="dropdown-custom-spcocca" href="specialoccasions.html">Special Occasions</a></li>
                                            <li><a class="dropdown-custom-dlyspc" href="#">Daily Specials</a></li>
                                        </ul>
                                    </li> 
                                    <li class="nav-item"><a class="nav-link navbar-button-active" href="catering.html">Catering</a></li>                                   
                                </ul>
                            </nav>  
                        </td>
                    </tr>
                </table>
            </div>
            <div class="menu">
                <table align="center">
                    <tr>
                        <col width="310px">
                        <col width="310px">
                        <col width="310px">
                        <td class="notop daily-right-padding">
                            <center>
                                <h3>Hot Special</h3>
                                <div class="dlyspc-item">
                                    Chicken ala Susan
                                </div>
                                <div class="dlyspc-price">
                                    $8.99
                                </div>
                                <div class="dlyspc-description">
                                    Chicken breast egg battered and sautéed in a lemony franciase sauce served with steamed veggies
                                </div>
                                <img class="img-thumbnail resize" src="https://thestayathomechef.com/wp-content/uploads/2018/10/Chicken-ala-King-1.jpg">
                                <br>
                            </center>
                        </td>
                        <td class="notop">
                            <center>
                                <h3>Wrap of the day</h3>
                                <div class="dlyspc-item">
                                    MaGriller the Turkey
                                </div>
                                <div class="dlyspc-price">
                                    $6.99
                                </div>
                                <div class="dlyspc-description">
                                    Grilled turkey breast with melted provolone cheese, red roasted peppers, lettuce and honey dijon mustard all wrapped up in a whole wheat tortilla
                                </div>
                                <img class="img-thumbnail resize" src="https://i.pinimg.com/236x/89/ff/14/89ff14e223666e9199bd21aef8f52e30--buffalo-chicken-burgers-turkey-burgers.jpg">
                            </center>
                        </td>
                        <td class="notop daily-left-padding">
                            <center>
                                <h3>Today's Panini</h3>
                                <div class="dlyspc-item">
                                    Autumn Panini
                                </div>
                                <div class="dlyspc-price">
                                    $6.99
                                </div>
                                <div class="dlyspc-description">
                                    Cheddar cheese, sliced apples, bacon, sauteed onions and mayo on rye pressed on the panini
                                </div>
                                <img class="img-thumbnail resize" src="http://3.bp.blogspot.com/-lj1cR67Fphw/VE-nNJYwoxI/AAAAAAAAGTw/KrHlj5I3ccA/s1600/Autumn%2BHarvest%2BPanini2.jpg">
                                <br>
                                <br>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td class="notop daily-right-padding">
                            <center>
                                <h3>Today's Soup</h3>
                                <div class="dlyspc-item">
                                    Vegetable Lentil
                                </div>
                                <div class="dlyspc-price">
                                    4.99
                                </div>
                                <div class="dlyspc-description">
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <img class="img-thumbnail resize" src="https://cookieandkate.com/images/2019/01/best-lentil-soup-recipe-4.jpg">
                            </center>
                        </td>
                        <td class="notop">
                            <center>
                                <h3>Sandwich</h3>
                                <div class="dlyspc-item">
                                    Chicken breast club
                                </div>
                                <div class="dlyspc-price">
                                    $6.99
                                </div>
                                <div class="dlyspc-description">
                                    Grilled chicken breast with bacon, lettuce, tomato, and mayo on three layers on whole wheat toast
                                </div>
                                <img class="img-thumbnail resize" src="https://www.tastefullysimple.com/_/media/images/recipes/boldbuffalogrilledchickenclubsandwich.jpg">
                                <br>
                            </center>
                        </td>
                        <td class="notop daily-left-padding">
                            <center>
                                <h3>Salad</h3>
                                <div class="dlyspc-item">
                                    Yo SALAD
                                </div>
                                <div class="dlyspc-price">
                                    $8.49
                                </div>
                                <div class="dlyspc-description">
                                    Cappy ham, genoa salami, and provolone cheese over mixed greens topped with roasted peppers, olives and red onion served with oil and vinegar
                                </div>
                                <img class="img-thumbnail resize" src="http://4.bp.blogspot.com/-4MHMO0eZafc/VhpgSJN5lGI/AAAAAAAACjU/AeqIyExOU_k/s1600/SpicyChickSaladYoSushi1FFLR.jpg">
                            </center>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
              <a href="https://mdbootstrap.com/education/bootstrap/"> atasteofrealitycatering.com</a>
              <span class="tooltiptext">
                <span class="glyphicon glyphicon-map-marker"></span> 71 Fayson Lake Road, Kinnelon, New Jersey 07405-3128<br>
                <span class="glyphicon glyphicon-earphone"></span> (973) 838-5018<br>
                <span class="glyphicon glyphicon-print"></span> (973) 838-5551 <br>
                <span class="glyphicon glyphicon-envelope"></span> admin@atasteofrealitycatering.com <br>
            </div>
        </footer>
    </body>
</html>