<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../style.css">
        <link rel="stylesheet" type="text/css" href="../temp-base.css">
        <script src="handler.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="dropdown test">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                    Change Language
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a onclick="alert('Page is already in english')" href="#">English</a></li>
                    <li class="divider"></li>
                    <li><a onclick="alert('U h h h h h google translate api is dead')" href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="dropdown test1">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                <span class="caret"></span>
                    View Order
                </button>                
                <ul class="dropdown-menu pull-right">
                    <div id="order-list"></div>
                    <li class="divider"></li>
                    <li><a onclick="clearOrder()">Clear Order</a></li>
                    <li id="checkOut"><a>Check Out</a></li>
                </ul>
            </div>
            <hr id="hack">
            <div class="jumbotron">
                <table align="center">
                    <tr>
                        <col width="533">
                        <td>
                            <h1 class="logo">Taste of Reality</h1>
                        </td>
                        <td>
                            <nav class="navbar navbar-default navbar-custom">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item"><a class="nav-link navbar-button-active" href="../home.html">Home</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-custom-deli" href="#">Deli</a></li>
                                            <li><a class="dropdown-custom-spcocca" href="specialoccasions.html">Special Occasions</a></li>
                                            <li><a class="dropdown-custom-dlyspc" href="dailyspec.html">Daily Specials</a></li>
                                        </ul>
                                    </li> 
                                    <li class="nav-item"><a class="nav-link navbar-button-active" href="catering.html">Catering</a></li>                                   
                                </ul>
                            </nav>  
                        </td>
                    </tr>
                </table>
            </div>
            <span class="image-banner">
                <img src="https://i.imgur.com/q8Q4LbQ.jpg" alt="wraps" style="width:100%;">
                <div class="banner-text">Deli</div>
            </span>
            <div>
                <br>
                <table align="center">
                    <tr>
                        <col width="470px">
                        <col width="75px">
                        <col width="470px">
                        <td class="specialmenu">
                            <div class="item">
                                Beach Buster
                            </div>
                            <div class="right price">
                                $7.99
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Beach Buster','price':'7.99'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Fresh basil, ripe tomatoes, fresh mozzarella, garlic oil and balsamic vinegar on a long roll.
                            </div>
                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Big George
                            </div>
                            <div class="right price">
                                $8.49
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Big George','price':'8.49'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Grilled marinated chicken breast, taylor ham, fried onions, roasted red peppers, and honey mustard on a long roll
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="specialmenu">
                            <div class="item">
                                Boonton Bomber
                            </div>
                            <div class="right price">
                                $7.99
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Boonton Bomber','price':'7.99'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Cappy ham, salami, pepperoni, provolone cheese, lettuce, tomato, onions, oil and vinegar on a long roll
                            </div>
                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Club Sandwiches
                            </div>
                            <div class="right price">
                                $6.49
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Club Sandwiches','price':'6.49'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Sliced turkey breast, ham or roast beef on three layers 
                            </span>
                            <div class="item-description">
                                of toast with bacon, lettuce, tomato and mayo
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="specialmenu">
                            <div class="item">
                                Dynamite
                            </div>
                            <div class="right price">
                                $7.99
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Dynamite','price':'7.99'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Store cooked roast beef, pepperoni, fresh mozzarella topped with cole slaw and balsamic vinegar on a long roll
                            </div>

                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Father Tim
                            </div>
                            <div class="right price">
                                $7.99
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Father Tim','price':'7.99'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Boar's Head turkey breast, bacon, lettuce, tomato and 
                            </span>
                            <div class="item-description">
                                mayo on a long roll
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="specialmenu">
                            <div class="item">
                                Fayson Lakes Hero
                            </div>
                            <div class="right price">
                                $7.49
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Fayson Lakes Hero','price':'7.49'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Ham, salami, provolone cheese, lettuce, tomato, onion, 
                            </span>
                            <div class="item-description">
                                oil and vinegar on a long roll
                            </div>
                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Flying Flembroni
                            </div>
                            <div class="right price">
                                $8.99
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Flying Flembroni','price':'8.99'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Breaded chicken cutlet, melted mozzarella cheese, bacon 
                            </span>
                            <div class="item-description">
                                and Alfredo sauce on a toasted long roll
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="specialmenu">
                            <div class="item">
                                Full Monty
                            </div>
                            <div class="right price">
                                $7.99
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Full Monty','price':'7.99'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Grilled roast beef, melted mozzarella cheese, hot and sweet peppers with horseradish dressing on a long roll
                            </div>
                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Jack’s Stack
                            </div>
                            <div class="right price">
                                $7.49
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Jack’s Stack','price':'7.49'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Hot pastrami, stacked high with melted swiss cheese and spicy mustard on grilled rye
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item">
                                Jen’s Italian Bird
                            </div>
                            <div class="right price">
                                $7.49
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Jen’s Italian Bird','price':'7.49'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Breaded chicken cutlet, mozzarella cheese, fried eggplant, fresh sliced tomato and ricotta cheese on a kaiser
                            </div>
                        </td>
                        <td>
                        </td>
                        <td>
                            <div class="item">
                                Jim’s Favorite
                            </div>
                            <div class="right price">
                                $7.49
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Jim’s Favorite','price':'7.49'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Grilled marinated chicken breast, fresh mozzarella and red peppers on a kaiser
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <center class="marginTop">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/MarchMadness?src=hash&amp;ref_src=twsrc%5Etfw">#MarchMadness</a> without one of our big, delicious sandwiches? More like March sadness!</p>&mdash; A Taste Of Reality (@TasteofReality) <a href="https://twitter.com/TasteofReality/status/578651428958371840?ref_src=twsrc%5Etfw">March 19, 2015</a></blockquote>
            </center>
            <footer class="page-footer font-small blue">
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <a href="https://mdbootstrap.com/education/bootstrap/"> atasteofrealitycatering.com</a>
                    <span class="tooltiptext">
                    <span class="glyphicon glyphicon-map-marker"></span> 71 Fayson Lake Road, Kinnelon, New Jersey 07405-3128<br>
                    <span class="glyphicon glyphicon-earphone"></span> (973) 838-5018<br>
                    <span class="glyphicon glyphicon-print"></span> (973) 838-5551 <br>
                    <span class="glyphicon glyphicon-envelope"></span> admin@atasteofrealitycatering.com <br>
                </div>
            </footer>
    </body>
</html>