<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../style.css">
        <link rel="stylesheet" type="text/css" href="../temp-base.css">
        <script src="handler.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="dropdown test">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                    Change Language
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="dropdown test1">
                <button class="btn btn-default dropdown-toggle btn-yote" type="button" data-toggle="dropdown">
                <span class="caret"></span>
                    View Order
                </button>                
                <ul class="dropdown-menu pull-right">
                    <div id="order-list"></div>
                    <li class="divider"></li>
                    <li><a onclick="clearOrder()">Clear Order</a></li>
                    <li id="checkOut"><a>Check Out</a></li>
                </ul>
            </div>
            <hr id="hack">
            <div class="jumbotron">
                <table align="center">
                    <tr>
                        <col width="533">
                        <td>
                            <h1 class="logo">Taste of Reality</h1>
                        </td>
                        <td>
                            <nav class="navbar navbar-default navbar-custom">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item"><a class="nav-link navbar-button-active" href="../home.html">Home</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-custom-deli" href="menu.html">Deli</a></li>
                                            <li><a class="dropdown-custom-spcocca" href="#">Special Occasions</a></li>
                                            <li><a class="dropdown-custom-dlyspc" href="dailyspec.html">Daily Specials</a></li>
                                        </ul>
                                    </li> 
                                    <li class="nav-item"><a class="nav-link navbar-button-active" href="catering.html">Catering</a></li>                                   
                                </ul>
                            </nav>  
                        </td>
                    </tr>
                </table>
            </div>
            <span class="image-banner">
                <img src="http://atasteofrealitycatering.com/wp-content/uploads/breakfast.jpg" alt="breakfast" style="width:100%;">
                <div class="banner-text">Special Occasions</div>
            </span>
            <div>
                <br>
                <table align="center">
                    <tr>
                        <col width="470px">
                        <col width="75px">
                        <col width="470px">
                        <td class="specialmenu">
                            <div class="item">
                                Deluxe BBQ Party
                            </div>
                            <div class="right price">
                                $29.99 Per Person
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Deluxe BBQ Party','price':'29.99'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                The ultimate BBQ - right in your back yard!
                            </div>
                            <br>
                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Graduation Party
                            </div>
                            <div class="right price">
                                $17.99 per person
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Graduation Party','price':'17.99'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Get a celebratory sub with your graduates year! Looks amazing and also includes hot food selections!
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="specialmenu">
                            <div class="item">
                                Holiday Deli Platters
                            </div>
                            <div class="right price">
                                $11.99 per person
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Holiday Deli Platters','price':'11.99'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Customize a deli platter for your holiday party. Choose 
                            </span>
                            <div class="item-description">
                                from one of our options or create your own !!
                            </div>
                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Holiday Hot and Cold Buffet
                            </div>
                            <div class="right price">
                                $16.99 per person
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Holiday Hot and Cold Buffet','price':'16.99'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Enjoy your holiday celebration with a deli platter and 
                            </span>
                            <div class="item-description">
                                hot selections of your choice to really warm up your party!!
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="specialmenu">
                            <div class="item">
                                Holiday Hot Buffet
                            </div>
                            <div class="right price">
                                $19.99 per person
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Holiday Hot Buffet','price':'19.99'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Choose from two appetizers, three hot dishes, salad 
                            </span>
                            <div class="item-description">
                                and rolls
                            </div>
                        </td>
                        <td>
                        </td>
                        <td class="specialmenu">
                            <div class="item">
                                Holiday Hot Buffet II
                            </div>
                            <div class="right price">
                                $29.99 per person
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Holiday Hot Buffet II','price':'29.99'})" id="cart">Add to Cart</button>
                            </div>
                            <span class="item-description-upspan">
                                Let cook for your holiday party. Choose from two 
                            </span>
                            <div class="item-description">
                                appetizers, three hot entrees, two side dish, salad and rolls
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item">
                                Hot and Cold Buffet
                            </div>
                            <div class="right price">
                                $19.99 per person
                            </div>
                            <br>
                            <div class="right">
                                <button onclick="addItem({'name':'Hot and Cold Buffet','price':'19.99'})" id="cart">Add to Cart</button>
                            </div>
                            <div class="item-description">
                                Try a combination of sandwiches and hot selections to meet your party needs!!
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <center class="marginTop">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/MarchMadness?src=hash&amp;ref_src=twsrc%5Etfw">#MarchMadness</a> without one of our big, delicious sandwiches? More like March sadness!</p>&mdash; A Taste Of Reality (@TasteofReality) <a href="https://twitter.com/TasteofReality/status/578651428958371840?ref_src=twsrc%5Etfw">March 19, 2015</a></blockquote>
            </center>
            <footer class="page-footer font-small blue">
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <a href="https://mdbootstrap.com/education/bootstrap/"> atasteofrealitycatering.com</a>
                    <span class="tooltiptext">
                    <span class="glyphicon glyphicon-map-marker"></span> 71 Fayson Lake Road, Kinnelon, New Jersey 07405-3128<br>
                    <span class="glyphicon glyphicon-earphone"></span> (973) 838-5018<br>
                    <span class="glyphicon glyphicon-print"></span> (973) 838-5551 <br>
                    <span class="glyphicon glyphicon-envelope"></span> admin@atasteofrealitycatering.com <br>
                </div>
            </footer>
    </body>
</html>